{% extends 'layout.html' %}
{% block content %}
<div class="login-wrap">
  <div class="card login-card login-grid">

    <div class="login-info-col">
      <div style="font-size: 2.5rem;">🎓</div>
      <h2>Sistema de Biblioteca UB</h2>

      <p class="login-description">
        Sistema de gestión de Biblioteca para la
        Tecnicatura en Programación.<br>
        Ingrese al sistema con las credenciales otorgadas.
      </p>
        <p class="login-help">
          ¿Problemas para acceder? Comuníquese a<br>
          <strong>lautaro.paz@comunidad.ub.edu.ar</strong>
        </p>

    </div>

    <div class="login-form-col">
      <h2>Iniciar Sesión</h2>
      <p class="login-subtitle">Acceso al sistema</p>

      <form method="post" class="form">
        <div>
          <label style="font-weight: 600; display: block; margin-bottom: 5px;">Usuario</label>
          <input name="usuario" required autofocus placeholder="Usuario">
        </div>

        <div>
          <label style="font-weight: 600; display: block; margin-bottom: 5px;">Contraseña</label>
          <input name="password" type="password" required placeholder="••••••">
        </div>

        <button type="submit" class="btn btn-block">
          Ingresar
        </button>
      </form>
    </div>

  </div>
</div>
{% endblock %}
